/* La vidéo remplit toute la navbar */

.video-header {
    position: relative;/*relative*/
    height: 100vh;
    width: 100%;
    overflow: hidden;
    box-shadow: 0 20px 30px -10px rgba(0, 0, 0, 0.5);
}

.video {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    object-fit: cover;
    z-index: -1;
    
}

.TextVideo {
    position: relative;
    z-index: 1;
    color: white;
    text-align: center;
    padding-top: 120px;
    top: 23vh;
}

.TextVideo h1 {
    font-size: 48px;
    margin-bottom: 10px;
    text-shadow: 2px 2px 5px rgba(0,0,0,0.7);
}

.TextVideo p {
    font-size: 24px;
    text-shadow: 1px 1px 3px rgba(211, 120, 51, 0.7);
}